<section class="flex">
  <div class="h-screen border-r-4 border-r-accent">
    <div class="h-1/5 border-b-4 border-b-accent ">
      <img src="assets/Logo.png" alt="Image" class="w-full h-full object-fill"/>
    </div>

    <div class="h-4/5 p-5 text-center">
      <app-topic-bubble [isResponse]="false" [isQuestion]="false" (sendTopicEvent)="HandleQuestion($event)"
                        topic="How to deal with depression during lockdown?"></app-topic-bubble>
      <app-topic-bubble [isResponse]="false" [isQuestion]="false" (sendTopicEvent)="HandleQuestion($event)"
                        topic="How to handle a big schedule?"></app-topic-bubble>
    </div>
  </div>
</section>
